<%= simple_form_for(concert) do |form| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :start_time, as: :date %>
  <%= form.association :venue, wrapper: :select %>
  <%= form.input :genre_tags %>
  <%= form.input :ilk, collection: Concert.ilks, wrapper: :select %>
  <%= form.input :access, collection: Concert.accesses, wrapper: :select %>

  <div class="actions">
    <%= form.button(:submit) %>
  </div>
<% end %>
