<%= form_with(model: gig, local: true) do |form| %>
  <% if gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% gig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :band_id %>
    <%= form.text_field :band_id %>
  </div>

  <div class="field">
    <%= form.label :concert_id %>
    <%= form.text_field :concert_id %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <div class="field">
    <%= form.label :duration_minutes %>
    <%= form.number_field :duration_minutes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
