<!DOCTYPE html>
<html>
  <head>
    <title>North By North South</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
    <script defer="true"
            src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <%= javascript_pack_tag("application") %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
  </body>
</html>
